{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> dashboardPostInfo post}}      
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<section>
  <h3>You have no post to show yet</h3>
</section>
{{/if}}

<button type="submit"><a href="/dashboard/new">Add New Post</a></button>